.conclusion
  display block
  max-width $column-width
  margin 0 auto
  margin-top 1rem
  text-align center
  @media (max-width: 768px)
    margin-top 3rem

.conclusion > p
  text-align left
  @media (max-width: 768px)
    padding 0px 5px

.conclusion__methodology > *,
.conclusion__credits > *
  set-type-size(small)
  word-wrap break-word
  text-align left
  @media (max-width: 768px)
    padding 0px 5px
.conclusion__credits ul li
  position relative
  text-align left
  margin-left 5px
  set-type-size(small)
  &:before
    content '\2022'
    position absolute
    left -5px
    top 0px

.two-n
  set-type-size(small)
  img
    display inline-block
    height 32px
    width auto
    vertical-align middle
  a
    border-bottom none