.conclusion__methodology > *,
.conclusion__credits > *
  set-type-size(small)

.two-n
  set-type-size(small)
  img
    display inline-block
    height 32px
    width auto
    vertical-align middle
  a
    border-bottom none