.intro
	margin 0 auto
	padding 6rem 1rem 1rem 1rem

	&__hed
		max-width 35rem
		margin 0 auto
		text-align center
		set-type-size(xxx-large)
		font-family: $tiempos
		@media (max-width: 768px)
			set-type-size(xx-large)

	&__dek
		max-width 0.85*$column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size(small)
		font-weight 600

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__imgs
		position absolute
		top -6px
		right calc(50% + 20rem + 20px)
		width 240px
		height auto
		margin 0 auto
		margin-top 1rem
		text-align center
		img
			position absolute
			left 0px
			top 0px
			apply-animation()
		@media (max-width: 768px)
			height 115px
			position relative
			top auto
			right auto
			margin 0 auto

	&__text
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align left
		&-parent
			position relative
			@media (max-width: 768px)
				margin-top 1rem

	&__disclaimer
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align left
		text-transform: uppercase
		font-family $national-narrow
		set-type-size(small)
		line-height 16px