.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		font-family $national-narrow

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__img
		display block
		height 350px
		max-width $column-width
		width auto
		margin 0 auto
		margin-top 1rem
		text-align center
		@media (max-width: 768px)
			height 250px

	&__text
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align justify

	&__disclaimer
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align justify
		text-transform: uppercase
		font-family $national-narrow
		set-type-size(small, true)