.intro
	margin 0 auto
	padding 6rem 1rem 1rem 1rem

	&__hed
		max-width 35rem
		margin 0 auto
		text-align center
		set-type-size(xxx-large)
		font-family: $tiempos

	&__dek
		max-width 0.85*$column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size(small)
		font-weight 600

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&-parent
		position relative

	&__img
		position absolute
		top 0px
		left -50px
		height 350px
		max-width $column-width
		width auto
		margin 0 auto
		margin-top 1rem
		text-align center
		@media (max-width: 768px)
			height 250px

	&__text
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align left

	&__disclaimer
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align left
		text-transform: uppercase
		font-family $national-narrow
		set-type-size(small, true)