/* CUSTOM STORY STYLE */
.interactive
  position relative

  &__tooltip
    position absolute
    height 250px
    width 350px
    border-radius 10px
    box-shadow 0px 0px 5px 3px #dddddd
    border 1px solid #444444
    display grid
    grid-template-rows 25px 8fr
    grid-template-columns 5fr 3fr
    grid-column-gap 10px
    transition top 0.5s, left 0.5s, opacity 0.25s
    pointer-events none
    opacity 0
    &.visible
      opacity 1

    &_question
      grid-row 1 / 2
      grid-column 1 / 3
      padding 2px 4px
      line-height 20px
      text-align center
      border-bottom 1px solid #444444

    &_right-col
      grid-row 2 / 3
      grid-column 2 / 3
      margin-top 10px
      &_qtype,
      &_unit,
      &_asked-of
        display flex
        width 100%
        font-size 10px
        span
          padding-left 4px
          display flex
          flex-direction column
          justify-content space-around
      &_options
        padding 5px
        font-size 10px
        ul.wrap
          overflow hidden
          columns 2
          column-gap 2px
        li
          font-size 10px
    .image-unit,
    .image-qtype,
    .image-asked-of
      display inline-block
      height 24px
      width 24px

    .image-question
      grid-row 2 / 3
      grid-column 1 / 2
      object-fit contain
      align-self center
      justify-self center
      max-width 100%
      max-height 100%
      height auto

  &__img
    display block
    height 300px
    border 1px solid black
    max-width $column-width
    margin 0 auto
    margin-top 1rem
    text-align center

  &__story-intro
    display block
    max-width $column-width
    margin 0 auto
    margin-top 1rem
    text-align center

  &__navigation
    display block
    margin 0 auto
    margin-top 1rem
    text-align center

  .sticky-container
    display block
    position relative
    margin 0 auto
    margin-top 1rem
    text-align center
    display flex

    .interactive__story-step
      position sticky
      width 23.33%
      left 5%
      top 33.33vh
      height 33.33vh
      border 1px solid green
      border-radius 10px
      transition opacity 0.25s
      opacity 0
      &.visible
        opacity 1

      &-title
        border-bottom 1px solid green
        width 90%
        height 15%
      &-body
        width 90%
        vertical-align middle
        font-size 12px
        text-align left

      .interactive__story-stepper
        position absolute
        height 100%
        right 0px
        top 0px
        width 10%
        border-left 1px solid green

        &-dots
          position absolute
          height calc(100% - 48px)
          top 24px
          width 100%
          display flex
          flex-direction column
          justify-content space-around
          .step-dot
            height 10px
            width 10px
            margin 0 auto
            border-radius 2px
            border 1px solid green
            &.current
              background-color green
        &-up
          position absolute
          top 4px
          left 4px
          cursor pointer
        &-down
          position absolute
          bottom 4px
          left 4px
          cursor pointer

    .interactive__svg
      display block
      margin 0 0 0 10%
      margin-top 1rem
      text-align center

      .label
        font-size 200px
        text-anchor middle
        font-family Arial, Helvetica, sans-serif
        fill #dddddd

      circle
        fill-opacity 0.6
        &.active
          stroke-width 2px

    .interactive__history
      display block
      position relative
      margin-left 3.333%
      width 30%
      &_flag
        position absolute
        border 1px solid brown
        border-radius 5px
        width 10%
        text-align left
        &_years
          top -5px
          font-size 12px
        &_event
          top 10px
          font-size 10px
          font-weight bold
        &_years, &_event
          position absolute
          left 110%
          min-width 120px
          max-width 150px
          background white
    .interactive__filter-toggle
      position sticky
      top 10vh
      left 25px
      margin-right -24px
      cursor pointer
      opacity 0
      transition opacity 0.5s
      &.visible
        opacity 1

    .interactive__filters
      position fixed
      left -300px
      width 200px
      top 80px
      transition left 0.5s
      font-size 12px
      border 1px solid gray
      z-index 1
      padding 0 5px
      &.open
        left 5%
      .interactive__filter
        position relative
        display flex
        flex-direction row
        &:not(:last-child)
          border-bottom 1px solid gray
        &_label
          font-weight bold
          height 20px
        &_multiselect
          position absolute
          min-height 20px
          top 20px
          left 0px
          width 188px
          &_option
            display block
            position relative
            transition height, padding
            transition-duration 0.25s
            height 0
            padding 0 10px 0 20px
            background-color white
            opacity 0.95
            overflow hidden
            text-align left
            font-size 10px
            &:hover
              background-color #dddddd
            &:before
              content: ''
              position absolute
              left 4px
              top 3px
              height 10px
              width 10px
              border 1px solid gray
            &.selected
              font-weight bold
              &:after
                content: ''
                position absolute
                left 8px
                top 3px
                height 8px
                width 3px
                border-left 1px solid gray
                border-top 1px solid gray
                transform rotate(220deg)
        &:focus
          z-index 10
          .interactive__filter_multiselect_option
              height 20px
              padding-top 2px
              border-bottom 1px solid white





.conclusion
  display block
  max-width $column-width
  margin 0 auto
  margin-top 1rem
  text-align center