/* CUSTOM STORY STYLE */
.interactive
  position relative

  &__dropdown
    display block
    margin 0 auto
    margin-top 1rem
    text-align center

  &__tooltip
    position absolute
    transition top 0.5s, left 0.5s
    pointer-events none

  &__svg
    display block
    margin 0 auto
    margin-top 1rem
    text-align center

    .label
      font-size 200px
      text-anchor middle
      font-family Arial, Helvetica, sans-serif
      fill #dddddd

    circle
      fill-opacity 0.6

.conclusion
  display block
  max-width $column-width
  margin 0 auto
  margin-top 1rem
  text-align center