<div class='conclusion'>
  <h2>Conclusion</h2>
  <p>Ut elementum varius facilisis. Integer lacus ligula, sollicitudin eget ligula vitae, tincidunt rutrum elit.
    Aenean in nulla egestas, facilisis felis eget, imperdiet felis. Aliquam faucibus ipsum vitae feugiat euismod.
    Quisque pharetra leo id dictum porttitor. Donec nec nulla lacus. Curabitur condimentum quam eu erat rhoncus,
    mattis eleifend nibh facilisis. Praesent efficitur pulvinar dapibus. Vestibulum nunc felis, ultrices id aliquam
    sit amet, pulvinar nec orci. Phasellus sagittis est lectus, eget vestibulum nulla venenatis a. Duis nec maximus
    quam, eu ultrices justo. Integer lacinia imperdiet nulla in commodo.</p>
  <h2>Methodology</h2>
  <div class='conclusion__methodology'>
    {{#each textContent.methodologyNotes}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  <h2>Credits</h2>
  <div class='conclusion__credits'>
    <strong>All Media Assets:</strong> U.S. Census Bureau.
    <p>
      Secondary sources for historical context included:
      <ul>
        {{#each textContent.sources}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
    {{#each textContent.credits}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  <div class='two-n'>Designed and developed at <a href='http://two-n.com/'><img
        src='../../../assets/images/2n_logo.png'></a></div>
</div>