<div class='conclusion'>
  <h2>Conclusion</h2>
  <p>Ut elementum varius facilisis. Integer lacus ligula, sollicitudin eget ligula vitae, tincidunt rutrum elit.
    Aenean in nulla egestas, facilisis felis eget, imperdiet felis. Aliquam faucibus ipsum vitae feugiat euismod.
    Quisque pharetra leo id dictum porttitor. Donec nec nulla lacus. Curabitur condimentum quam eu erat rhoncus,
    mattis eleifend nibh facilisis. Praesent efficitur pulvinar dapibus. Vestibulum nunc felis, ultrices id aliquam
    sit amet, pulvinar nec orci. Phasellus sagittis est lectus, eget vestibulum nulla venenatis a. Duis nec maximus
    quam, eu ultrices justo. Integer lacinia imperdiet nulla in commodo.</p>
  <h2>Methodology</h2>
  <p>Nulla finibus facilisis leo, et ornare urna convallis in. Quisque finibus justo sit amet cursus vulputate.
    Integer feugiat massa nec diam finibus, id fringilla tortor auctor. Quisque interdum in metus eu finibus. Donec
    vel tempus magna. Sed eleifend ante nibh, at eleifend leo blandit sed. Nunc et tristique nisl. Quisque sodales a
    justo nec efficitur. Curabitur a nisi eget libero convallis euismod volutpat a felis. Sed ornare eget turpis sed
    molestie. Nam laoreet ante nec mi hendrerit malesuada.</p>
  <h2>Credits</h2>
  <p>In tortor nunc, imperdiet et mauris a, mattis tempus nisl. Vivamus et iaculis ex, at ullamcorper neque. Nullam
    pretium velit a mauris lacinia scelerisque. Morbi eget commodo mauris. Curabitur nec volutpat lectus. Praesent
    eget urna odio. Nunc sapien ante, bibendum vel augue eu, vestibulum pharetra sapien.</p>
</div>