<div class='interactive' id='interactive'>
  <img class='interactive__img' />
  <div class='interactive__step-start'></div>
  <p class='interactive__story-intro tooltip-offset'></p>

  {{!-- sticky --}}
  <div class='sticky-container'>
    <svg class='interactive__svg'>
      <defs>
        <pattern id="stripe" patternUnits="userSpaceOnUse" width="8" height="8" patternTransform="rotate(45)">
          <line x1="0" y="0" x2="0" y2="8" stroke="#388e3c" stroke-width="9" />
          <line x1="8" y="0" x2="8" y2="8" stroke="#4BB650" stroke-width="9" />
        </pattern>
      </defs>
      <g class='interactive_g_links'></g>
      <g class='interactive_g_circles'></g>
    </svg>
    <div class='annotations'>
      <div class='annotation'>
        Hover to see a question
      </div>
      <div class='annotation'>
        Line indicates a consistent question
      </div>
    </div>
    <div class='interactive__labels'></div>
    <div class='interactive__history'></div>
    <div class='interactive__legend'></div>
  </div>

  {{!-- absolute positioned elements --}}
  <div class='interactive__tooltip'></div>
</div>