<div class='interactive'>
  <div class='interactive__dropdown'>
    <h4>Choose a story</h4>
    <select></select>
    <h4>or explore on your own below</h4>
  </div>
  <div class='interactive__tooltip'></div>
  <svg class='interactive__svg'>
    <g class='interactive_g_labels'></g>
    <g class='interactive_g_links'></g>
    <g class='interactive_g_circles'></g>
  </svg>
</div>