<div class='interactive' id='interactive'>
  <h4 class='intro__or-explore'>or explore on your own below.</h4>
  <img class='interactive__img'>
  <div class='interactive__story-intro explore-mode'>{{textContent.exploreIntro}}</div>
  <div class='interactive__story-intro story-mode'></div>

  {{!-- sticky --}}
  <div class='sticky-container'>
    <div class='interactive__story-step'>
      <div class='interactive__story-step-title'></div>
      <div class='interactive__story-step-body'></div>
      <div class='interactive__story-stepper'>
        <img inline src='arrow-up.svg' class='interactive__story-stepper-up'>
        <div class='interactive__story-stepper-dots'></div>
        <img inline src='arrow-down.svg' class='interactive__story-stepper-down'>
      </div>
    </div>
    <svg class='interactive__svg'>
      <g class='interactive_g_labels'></g>
      <g class='interactive_g_links'></g>
      <g class='interactive_g_circles'></g>
    </svg>
    <div class='interactive__history'></div>
    <div class='interactive__legend'></div>
  </div>

  <div class='interactive__navigation'>
    Read on or choose another story from the menu above.
  </div>

  {{!-- absolute positioned elements --}}
  <div class='interactive__tooltip'></div>
</div>