<div class='story-menu_dropdown' tabIndex="-1">
</div>
<img inline src='filter.svg' class='interactive__filter-toggle'>
<div class='interactive__filters'>
  <svg class='interactive__filters_svg'>
    <g class='filters_g_years'></g>
    <g class='filters_g_links'></g>
    <g class='filters_g_circles'></g>
  </svg>
</div>